body {
background-color: black;
background-image: url("https://github.com/ppauloa37/crast-io/blob/main/io/images/scene/scene.png");
background-repeat: no-repeat;
width: 100%;
height: 100%;
}
#background {


}
